<h3>お問い合わせ</h3>

<p>お問い合わせいただきありがとうございます。<p>
<p>以下の内容を送信いたしました。担当者からの回答をお待ち下さい。<p>
-----------------------------------------------
<p>名前: <%= @inquiry.name %>様</p>

<p>メール: <%= @inquiry.email %></p>

<p>電話番号: <%= @inquiry.phone_number %></p>

<p>お問い合わせ内容: <%= @inquiry.message %></p>

-----------------------------------------------
