/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"; /*ここを追加*/
@import "bootstrap"; /*ここを追加*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  padding-top: 50px;
  color: #5c6567;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体",
    "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ",
    "Meiryo", "verdana", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h2 {
  font-size: 40px;
  margin: 30px 0px;
}
h3 {
  font-size: 30px;
  margin: 20px 0px;
}
section {
  padding: 20px;
}
table {
  border-collapse: collapse;
}

/*------------Bootstrap上書き-------------*/
.navbar-nav > li > a:hover {
  background-color: transparent;
}

/*------------全ページ共通-------------*/
.txt_size_xs {
  font-size: 12px;
}
.txt_size_s {
  font-size: 15px;
}
.txt_size_m {
  font-size: 20px;
  margin: 20px 0px;
}
.txt_size_l {
  font-size: 25px;
  margin: 20px 0px;
}
.txt_color_yellow {
  color: #fffe62;
}
.txt_color_white {
  color: #fff;
}
.txt_color_blue {
  color: #00c4cc;
}
.gray_txt {
  color: #5c6567;
}
.btn {
  border-radius: 32px;
}
.btn_size_s {
  font-size: 10px;
  font-weight: 700;
  padding: 10px 10px;
}
.btn_size_m {
  font-size: 15px;
  font-weight: 700;
  padding: 10px 10px;
}
.btn_size_l {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 40px;
}
.btn_theme_signup {
  color: #5c6567;
  background: -webkit-linear-gradient(left, #fffe32, #ffd627);
}
.btn_theme_signup:hover {
  background: #ccb100;
}
.top_bg {
  background-color: #00c4cc;
}
.darkblue_bg {
  background-color: #00a3cc;
}
.green_bg {
  background-color: #00ccb1;
}
.blue_bg {
  background-color: #44c1eb;
}
.white_bg {
  background-color: #fff;
}
.yellow_bg {
  background-color: #fffe62;
}
/*------------ヘッダー-------------*/

.header__logo {
  padding: 10px 0px;
}
.header__logo_img {
  width: 170px;
}
.header__nav_list {
  margin: 10px 10px;
}
.header__nav_txt {
  font-size: 20px;
  font-weight: 700;
}
.header__nav_txt:hover {
  color: #c2c12b;
}
.navbar-toggler {
  display: none;
}
/*------------フラッシュメッセージ-------------*/
.alert {
  margin: 0px;
}
/*-------------エラーメッセージ -------------*/

/*------------メインビジュアル-------------*/
.main-visual__cont {
  padding: 10% 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-visual__img {
  width: 560px;
  height: 400px;
}
.main-visual__txt {
  line-height: normal;
  font-size: 35px;
  font-weight: bold;
}
/*------------ポイント-------------*/
.point {
  position: relative;
}
.point__midashi {
  padding: 20px 0px;
  line-height: normal;
  text-align: center;
}
.point__logo {
  width: 150px;
}
.point__cont {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.point__detail {
  padding: 10px;
  border-radius: 15px;
  border: solid 2px #fffe32;
}
.point__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
/*------------ー機能紹介-------------*/

.intro__box {
  height: 500px;
  margin: 30px 0px;
  position: relative;
  display: flex;
  align-items: center;
}
.intro__txt_box {
  position: relative;
  padding: 20px 20px 20px 80px;
  flex-basis: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  z-index: 20;
}
.intro__img {
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
}
.intro__box:nth-child(even) .intro__img {
  left: 0;
}
.intro__box:nth-child(even) {
  flex-direction: row-reverse;
}
.marker {
  background: linear-gradient(transparent 70%, #fffe62 70%);
  font-weight: bold;
}
.intro__count {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
/*------------キャッチコピー-------------*/
.catch-copy {
  margin-bottom: 30px;
  text-align: center;
}
.catch-copy__midashi {
  line-height: normal;
  font-size: 35px;
  font-weight: bold;
}
/*------------お問い合わせ-------------*/
.contact {
  padding: 20px 0px;
}
.contact__txt {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}
/*------------フォーム全般-------------*/
.form {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
input:focus,
textarea:focus {
  border: 2px solid #fffe62;
}
.form__label {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  align-items: center;
}
.form__item {
  border-radius: 6px;
  margin-right: 8px;
  padding: 5px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #fffe62;
  font-size: 14px;
}
.form__item_input {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 30px;
  height: 48px;
  width: 100%;
  background: #fff;
  font-size: 15px;
}
.form__item_textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 15px;
  margin-left: 0;
  height: 200px;
  background: #fff;
  font-size: 15px;
}
.form__btn {
  border: 2px solid #fff;
  color: #5c6567;
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  width: 250px;
  display: block;
  letter-spacing: 0.05em;
  background: #fffe62;
  font-weight: bold;
  font-size: 20px;
}
.form__btn:hover {
  background-color: #ccb100;
}

/*------------管理者かユーザーか選択ボタン-------------*/
.signupcheck {
  text-align: center;
  padding: 10% 0px;
  background: url();
  display: flex;
  justify-content: space-around;
}

.signupcheck_btn {
  width: 300px;
  color: #5c6567;
  display: inline-block;
  border-radius: 15px;
  margin: 20px 50px;
  padding: 10px 50px;
}
.yellow_btn {
  background-color: #fffe62;
}
.yellow_btn:hover {
  background-color: #c7c34c;
}
.orange_btn {
  background-color: #ffd627;
}
.orange_btn:hover {
  background-color: #ccb100;
}
.signupcheck_icon {
  margin-top: 30px;
  font-size: 50px;
}
/*------------新規登録・ログイン-------------*/
.signup,
.login {
  padding: 100px 0px;
}
/*------------フッター-------------*/
.footer__size {
  padding: 20px;
}
.footer__img {
  width: 150px;
}
.footer__bg {
  background-color: #d5fdff;
}
/*------------aboutページ-------------*/
.about__cont {
  margin: 10% 0px;
}

/*------------------------------スマホ版-----------------------------*/
@media (max-width: 1200px) {
  /*------------共通-------------*/
  h3 {
    font-size: 20px;
  }
  .txt_size_m {
    font-size: 15px;
  }
  .txt_size_s {
    font-size: 12px;
  }
  /*------------ヘッダー-------------*/
  .header__logo {
    margin-left: 10px;
  }
  .header__logo_img {
    width: 130px;
  }
  .header__nav_txt {
    font-size: 15px;
    font-weight: 700;
  }
  /*-----------メインビジュアル------------*/
  .main-visual__cont {
    text-align: center;
    flex-direction: column-reverse;
  }

  .main-visual__img {
    margin-top: 10%;
    width: 100%;
    height: auto;
  }
  /*-----------ポイント------------*/
  .point__cont {
    flex-wrap: wrap;
  }
  .point__midashi {
    font-size: 17px;
  }
  .point__logo {
    width: 130px;
  }
  /*-----------------------*/
  .signupcheck {
    padding: 20% 0px;
  }
  .signupcheck_btn {
    width: 250px;
    margin: 10px;
  }
  /*-----------フォーム------------*/
  .form {
    padding: 0px 20px;
  }
  .form__btn {
    font-size: 15px;
  }
  /*----------フッター------------*/
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }

  .txt_size_m {
    font-size: 15px;
    margin: 20px 0px;
  }
  .btn_size_l {
    font-size: 20px;
    padding: 15px 20px;
  }
  .main-visual__cont {
    flex-direction: column-reverse;
  }
  .main-visual__txt {
    font-size: 25px;
  }
  .intro__txt_box {
    flex-basis: 100%;
  }
  .signupcheck_btn {
    width: 200px;
    margin: 10px;
    padding: 10px 20px;
  }
  /*--------------ナビゲーション バー-------------------*/
  nav {
    margin: 0px;
  }
  .navbar-toggler {
    font-size: 25px;
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    background-color: transparent !important;
    color: #5c6567;
    outline: none;
  }
  .navbar-toggler:after {
    content: " \f0c9";
    font-family: FontAwesome;
  }
  .navbar-toggler[aria-expanded="true"]:after {
    content: "\f00d";
    font-family: FontAwesome;
  }
  .header__nav_txt {
    text-align: center;
    color: #5c6567;
  }
  .header__nav_bg {
    background-color: #fff;
  }
}
